<div class="container">
  @if (pokemons) { @for (pokemon of displayedPokemons; track pokemon.id) {
  <app-pokemon-card (click)="onPokemonClick(pokemon)" [Pokemon]="pokemon" />
  }@empty {
  <h1>No Pokémon found</h1>
  } }@else {
  <h1>Loading...</h1>
  }
</div>
<div id="overview" class="overview d_none">
  <button
    type="button"
    class="overview-button"
    id="prev-pokemon"
    (click)="onPrevClick()"
  >
    -
  </button>
  <app-pokemon-popup [selectedPokemon]="selectedPokemon" />
  <button
    type="button"
    class="overview-button"
    id="next-pokemon"
    (click)="onNextClick()"
  >
    +
  </button>
</div>
