<div class="container">
  @if (pokemons) { @for (pokemon of displayedPokemons; track pokemon.id) {
  <app-pokemon-card
    (click)="showPokemonOverview(pokemon)"
    [Pokemon]="pokemon"
  />
  }@empty {
  <h1>No Pokémon found</h1>
  } }@else {
  <div class="loader_top">
    <app-loading-big />
  </div>
  }
</div>
@if (isLoading && pokemons) {
<div class="loader_bottom">
  <app-loading />
</div>

}
<div id="overview" class="overview d_none">
  <button
    type="button"
    class="overview-button"
    id="prev-pokemon"
    (click)="onPrevClick()"
    [title]="language === 'en' ? 'Previous Pokemon' : 'Vorheriges Pokemon'"
  >
    &#9001;
  </button>
  <app-pokemon-popup [selectedPokemon]="selectedPokemon" />
  <button
    type="button"
    class="overview-button"
    id="next-pokemon"
    (click)="onNextClick()"
    [title]="language === 'en' ? 'Next Pokemon' : 'Nächstes Pokemon'"
  >
    &#9002;
  </button>
</div>
