<header>
  <div class="grid-layout">
    <div class="grid-item-1">
      <img src="./assets/pokedex_logo.png" alt="Pokedex Logo" />
      <input
        (input)="handleSearchInputChange(searchbar.value.toLowerCase())"
        type="text"
        name="searchbar"
        id="searchbar"
        [placeholder]="language === 'en' ? 'Search...' : 'Suche...'"
        #searchbar
      />
    </div>
    <div class="grid-item-2">
      <img
        (click)="suprise()"
        class="pokeball"
        src="./assets/pokeball.png"
        alt="Pokeball"
      />
    </div>
  </div>
</header>
