@import "../../../styles/vars";

header {
  margin: 20px 24px;
  height: 200px;

  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: inherit;

    .grid-item-1 {
      height: inherit;
      display: flex;
      gap: 4px;
      flex-direction: column;

      img {
        height: fit-content;
        width: fit-content;
      }

      input {
        color: black;
        width: 333px;
        border: none;
        border-top: 2px solid $pokeball-red;
        border-left: 2px solid $pokeball-red;
        border-bottom: 2px solid $pokeball-silver;
        border-right: 2px solid $pokeball-silver;
        padding: 4px 8px;
        font-size: 18px;
        font-weight: 300;

        &:focus {
          outline: none;
        }
      }
    }

    .grid-item-2 {
      height: inherit;
      position: relative;

      .pokeball {
        position: absolute;
        left: -25%;
        height: inherit;
        z-index: 0;
        filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.8));
        cursor: pointer;

        animation: shake 2s ease-in-out infinite alternate;

        @keyframes shake {
          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateX(0) rotate(0deg);
          }
          40% {
            transform: translateX(-2px) rotate(-10deg);
          }
          60% {
            transform: translateX(2px) rotate(10deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1448px) {
  header {
    margin-inline: 20px;

    .grid-layout {
      .grid-item-2 {
        .pokeball {
          left: calc(-25% + 100px);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    margin-inline: 20px;

    .grid-layout {
      .grid-item-1 {
        input {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  header {
    .grid-layout {
      grid-template-columns: 1fr;

      .grid-item-2 {
        display: none;
      }
    }
  }
}
