@import "../../../styles/vars";

.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 10px;
  width: fit-content;
  height: fit-content;
  background-color: lighten($background-color, 10%);
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 12px;
  cursor: pointer;
  display: none;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);

  svg {
    animation: bounce 750ms infinite;
  }
}

.back-to-top:hover {
  background-color: lighten($background-color, 20%);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
}
