@import "../../../styles/_vars";
@import "../../../styles/_types";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 350px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: #379d2c;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8px;
    border-radius: 4px;
    background-color: green;
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
  }

  &:hover {
    cursor: pointer;
  }
}
