<div [className]="'card' + ' ' + classTypes[0].english">
  <div class="header">
    <h1 class="name">
      {{ name | titlecase }}
    </h1>
    <h2>#{{ id | number }}</h2>
  </div>
  <div class="img">
    <app-pokemon-image class="sprite" [src]="imgSrc" [alt]="name" />
  </div>
  <div class="types">
    @for (classType of classTypes; track $index) {
    <span [className]="'type' + ' ' + classType.english">{{
      language === 'en' 
      ? (classType.english | titlecase)
      : (language === 'de' 
        ? (classType.german | titlecase) 
        : (classType.portuguese | titlecase))
    }}</span
    >}
  </div>
</div>
