@import "../../../styles/_vars";
@import "../../../styles/_types";

.card {
  background-image: url("../../../assets/background_card_small.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 350px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.15);
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
  }

  &:hover {
    cursor: pointer;
  }
}
