*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f5f5f5;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  width: 100%;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

svg:not(:root) {
  overflow: hidden;
}

canvas {
  display: inline-block;
  width: auto;
  height: auto;
}
