.types {
  .grass {
    background-color: $grass;
  }

  .fire {
    background-color: $fire;
  }

  .water {
    background-color: $water;
  }

  .bug {
    background-color: $bug;
  }

  .normal {
    background-color: $normal;
  }

  .poison {
    background-color: $poison;
  }

  .electric {
    background-color: $electric;
  }

  .ground {
    background-color: $ground;
  }

  .psychic {
    background-color: $psychic;
  }

  .fairy {
    background-color: $fairy;
  }

  .fighting {
    background-color: $fighting;
  }

  .rock {
    background-color: $rock;
  }

  .ghost {
    background-color: $ghost;
  }

  .ice {
    background-color: $ice;
  }

  .dragon {
    background-color: $dragon;
  }

  .dark {
    background-color: $dark;
  }

  .steel {
    background-color: $steel;
  }

  .flying {
    background-color: $flying;
  }
}
