// Basic Colors
$background-color: #21215b;
$text-color: #fefefe;

// Type Colors
$grass: #599232;
$fire: #994e22;
$water: #3b54ae;
$bug: #828819;
$normal: #7c7349;
$poison: #5f1d66;
$electric: #c09214;
$ground: #a88b43;
$psychic: #b92352;
$fairy: #a87196;
$fighting: #911f1d;
$rock: #907627;
$ghost: #543771;
$ice: #547d9e;
$dragon: #4718b8;
$dark: #707070;
$steel: #777777;
$flying: #82729b;
