// Basic Colors
$background-color: #21215b;
$text-color: #fefefe;

// Type Colors
$grass: #649c43;
$fire: #f57d31;
$water: #4a90da;
$bug: #8cb230;
$normal: #9da0ae;
$poison: #a33ea1;
$electric: #eed535;
$ground: #da7c4d;
$psychic: #f366b9;
$fairy: #fdb9e9;
$fighting: #d3425f;
$rock: #ba6e48;
$ghost: #556aae;
$ice: #74cec0;
$dragon: #0f6ac0;
$dark: #707070;
$steel: #9eb7b8;
$flying: #83a2e3;
