@import "../../../styles/vars";

.navigation {
  position: fixed;
  bottom: 50%;
  left: -104px;
  transform: rotate(-90deg);
  width: 262px;

  p {
    width: fit-content;
    height: 100%;
    padding: 4px 12px;
    border: solid 1px $text-color;
    border-radius: 4px;
    text-shadow: 0 0 4px $text-color;
    box-shadow: 0 0 4px $text-color;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.content {
  margin: 20px max(20px, calc((100% - 800px) / 2));
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px max(20px, calc((100% - 800px) / 2));
  max-width: 800px;
  padding: 20px;
  text-align: center;

  h1 {
    margin-block: 80px;
    font-size: 80px;
    text-align: center;

    @media screen and (max-width: 520px) {
      font-size: 60px;
    }
  }

  h2 {
    margin-block: 80px;
    font-size: 40px;
  }
}

.thanks-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.thanks-list li {
  margin: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thanks-list a {
  color: #03a9f4;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  font-size: 20px;
}

.thanks-list a:hover {
  text-decoration: underline;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }
}

.logo {
  width: 100%;

  &.profile,
  &.logo-pokeapi-small {
    width: 64px;
    height: 64px;
    border-radius: 9999px;
  }

  &.logo-angular,
  &.logo-chartjs,
  &.logo-typescript {
    width: 128px;
    height: 128px;
  }

  &.logo-pixabay {
    width: 60%;
    filter: invert(1);

    @media screen and (max-width: 786px) {
      width: 100%;
    }
  }
}
