@if (language == "en") {
<div class="content">
  <h1>Special Thanks</h1>
  <ul class="thanks-list">
    <li>
      <a href="https://pokeapi.co/">
        <img
          class="logo logo-pokeapi-big"
          src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi.svg"
          alt="PokeAPI"
        />
        PokeAPI</a
      >
      for providing the data for all the Pokémon including their stats, moves,
      types, and more
    </li>
    <li>
      <a href="https://github.com/PokeAPI/sprites">
        <img
          class="logo logo-pokeapi-small"
          src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
          alt="PokeAPI-sprites"
        />
        PokeAPI-sprites</a
      >
      for providing the official sprites of the Pokémon
    </li>
    <li>
      <a href="https://github.com/PokeAPI/cries">
        <img
          class="logo logo-pokeapi-small"
          src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
          alt="PokeAPI-cries"
        />
        PokeAPI-cries</a
      >
      for providing the official cries of the Pokémon
    </li>
    <li>
      <a href="https://www.instagram.com/18ago/">
        <img
          class="logo profile"
          src="./assets/franziska_wessely_pb.jpeg"
          alt="Franziska Wessely"
        />
        Franziska Wessely</a
      >
      for providing the design
    </li>
    <li>
      <a href="https://pixabay.com/">
        <img
          class="logo logo-pixabay"
          src="https://pixabay.com/static/img/logo.png"
          alt="Pixabay"
        />
        Pixabay</a
      >
      for providing the sound effects used in the application
    </li>
  </ul>
  <h2>Executed by</h2>
  <p>
    <a href="https://github.com/mariokreitz">
      <img
        class="logo profile"
        src="https://avatars.githubusercontent.com/u/48879876?s=96&v=4"
        alt="Mario Kreitz"
      />
      Mario Kreitz</a
    >
    for the technical implementation
  </p>
  <h2>Powered by</h2>
  <ul class="thanks-list">
    <li>
      <a href="https://angular.io/">
        <img
          class="logo logo-angular"
          src="https://avatars.githubusercontent.com/u/139426?s=200&v=4"
          alt="Angular 17"
        />
        Angular 17</a
      >
      for providing the framework used to build this application
    </li>
    <li>
      <a href="https://github.com/PokeAPI/pokeapi-js-wrapper">
        <img
          class="logo logo-pokeapi-small"
          src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
          alt="pokeapi-js-wrapper"
        />
        pokeapi-js-wrapper</a
      >
      for providing a convenient way to interact with the PokeAPI
    </li>
    <li>
      <a href="https://www.chartjs.org/">
        <img
          class="logo logo-chartjs"
          src="https://www.chartjs.org/img/chartjs-logo.svg"
          alt="ChartJS"
        />
        ChartJS</a
      >
      for providing the charting library used in the Pokémon Overview
    </li>
    <li>
      <a href="https://github.com/microsoft/TypeScript">
        <img
          class="logo logo-typescript"
          src="https://avatars.githubusercontent.com/u/6154722?s=48&v=4"
          alt="TypeScript"
        />
        Microsoft TypeScript</a
      >
      for providing the type system used in this application
    </li>
  </ul>
</div>
} @else { }
