.content {
  margin: 20px max(20px, calc((100% - 800px) / 2));
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h2 {
    margin-block: 20px;
  }
}

.thanks-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thanks-list li {
  margin: 10px;
}

.thanks-list a {
  color: #03a9f4;
  text-decoration: none;
}

.thanks-list a:hover {
  text-decoration: underline;
}
