@if (language == "en") {
<div class="navigation">
  <p>press ESC to go back</p>
</div>
<div class="content">
  <h1>Special Thanks</h1>
  <ul class="thanks-list">
    <li>
      <a target="_blank" href="https://pokeapi.co/">
        <img
          class="logo logo-pokeapi-big"
          src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi.svg"
          alt="PokeAPI"
        />
        PokeAPI</a
      >
      for providing the data for all the Pokémon including their stats, moves,
      types, and more
    </li>
    <li>
      <a target="_blank" href="https://github.com/PokeAPI/sprites">
        <img
          class="logo logo-pokeapi-small"
          src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
          alt="PokeAPI-sprites"
        />
        PokeAPI-sprites</a
      >
      for providing the official sprites of the Pokémon
    </li>
    <li>
      <a target="_blank" href="https://github.com/PokeAPI/cries">
        <img
          class="logo logo-pokeapi-small"
          src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
          alt="PokeAPI-cries"
        />
        PokeAPI-cries</a
      >
      for providing the official cries of the Pokémon
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/18ago/">
        <img
          class="logo profile"
          src="./assets/franziska_wessely_pb.jpeg"
          alt="Franziska Wessely"
        />
        Franziska Wessely</a
      >
      for providing the design
    </li>
    <li>
      <a target="_blank" href="https://pixabay.com/">
        <img
          class="logo logo-pixabay"
          src="./assets/pixabay_logo.svg"
          alt="Pixabay"
        />
        Pixabay</a
      >
      for providing the sound effects used in the application
    </li>
  </ul>
  <h2>Executed by</h2>
  <p>
    <a target="_blank" href="https://github.com/mariokreitz">
      <img
        class="logo profile"
        src="https://avatars.githubusercontent.com/u/48879876?s=96&v=4"
        alt="Mario Kreitz"
      />
      Mario Kreitz</a
    >
    for the technical implementation
  </p>
  <h2>Powered by</h2>
  <ul class="thanks-list">
    <li>
      <a target="_blank" href="https://angular.io/">
        <img
          class="logo logo-angular"
          src="https://avatars.githubusercontent.com/u/139426?s=200&v=4"
          alt="Angular 17"
        />
        Angular 17</a
      >
      for providing the framework used to build this application
    </li>
    <li>
      <a target="_blank" href="https://github.com/PokeAPI/pokeapi-js-wrapper">
        <img
          class="logo logo-pokeapi-small"
          src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
          alt="pokeapi-js-wrapper"
        />
        pokeapi-js-wrapper</a
      >
      for providing a convenient way to interact with the PokeAPI
    </li>
    <li>
      <a target="_blank" href="https://www.chartjs.org/">
        <img
          class="logo logo-chartjs"
          src="https://www.chartjs.org/img/chartjs-logo.svg"
          alt="ChartJS"
        />
        ChartJS</a
      >
      for providing the charting library used in the Pokémon Overview
    </li>
    <li>
      <a target="_blank" href="https://github.com/microsoft/TypeScript">
        <img
          class="logo logo-typescript"
          src="https://avatars.githubusercontent.com/u/6154722?s=48&v=4"
          alt="TypeScript"
        />
        Microsoft TypeScript</a
      >
      for providing the type system used in this application
    </li>
  </ul>
</div>
} @else if (language == "de") {
<div class="navigation">
  <p>Drücke ESC, um zurückzugehen</p>
</div>
<div class="content">
  <h1>Besonderer Dank</h1>
  <ul class="thanks-list">
    <li>
      <a target="_blank" href="https://pokeapi.co/">
        <img
          class="logo logo-pokeapi-big"
          src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi.svg"
          alt="PokeAPI"
        />
        PokeAPI</a
      >
      für die Bereitstellung der Daten aller Pokemon, einschließlich ihrer
      Werte, Attacken, Typen und vielem mehr
    </li>
    <li>
      <a target="_blank" href="https://github.com/PokeAPI/sprites">
        <img
          class="logo logo-pokeapi-small"
          src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
          alt="PokeAPI-sprites"
        />
        PokeAPI-sprites</a
      >
      für die offiziellen Sprites der Pokemon
    </li>
    <li>
      <a target="_blank" href="https://github.com/PokeAPI/cries">
        <img
          class="logo logo-pokeapi-small"
          src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
          alt="PokeAPI-cries"
        />
        PokeAPI-cries</a
      >
      für die offiziellen Soundeffekte der Pokémon
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/18ago/">
        <img
          class="logo profile"
          src="./assets/franziska_wessely_pb.jpeg"
          alt="Franziska Wessely"
        />
        Franziska Wessely</a
      >
      für das Design
    </li>
    <li>
      <a target="_blank" href="https://pixabay.com/">
        <img
          class="logo logo-pixabay"
          src="./assets/pixabay_logo.svg"
          alt="Pixabay"
        />
        Pixabay</a
      >
      für die Bereitstellung der Soundeffekte, die in der Anwendung verwendet
      werden
    </li>
  </ul>
  <h2>Entwickler</h2>
  <p>
    <a target="_blank" href="https://github.com/mariokreitz">
      <img
        class="logo profile"
        src="https://avatars.githubusercontent.com/u/48879876?s=96&v=4"
        alt="Mario Kreitz"
      />
      Mario Kreitz</a
    >
    für die technische Umsetzung
  </p>
  <h2>Erstellt mit</h2>
  <ul class="thanks-list">
    <li>
      <a target="_blank" href="https://angular.io/">
        <img
          class="logo logo-angular"
          src="https://avatars.githubusercontent.com/u/139426?s=200&v=4"
          alt="Angular 17"
        />
        Angular 17</a
      >
      für die Bereitstellung des Frameworks, das für den Bau dieser Anwendung
      verwendet wurde
    </li>
    <li>
      <a target="_blank" href="https://github.com/PokeAPI/pokeapi-js-wrapper">
        <img
          class="logo logo-pokeapi-small"
          src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
          alt="pokeapi-js-wrapper"
        />
        pokeapi-js-wrapper</a
      >
      für die Bereitstellung einer bequemen Möglichkeit, mit der PokeAPI zu
      interagieren
    </li>
    <li>
      <a target="_blank" href="https://www.chartjs.org/">
        <img
          class="logo logo-chartjs"
          src="https://www.chartjs.org/img/chartjs-logo.svg"
          alt="ChartJS"
        />
        ChartJS</a
      >
      für die Bereitstellung der Bibliothek für Diagramme im Überblick der
      Pokemon
    </li>
    <li>
      <a target="_blank" href="https://github.com/microsoft/TypeScript">
        <img
          class="logo logo-typescript"
          src="https://avatars.githubusercontent.com/u/6154722?s=48&v=4"
          alt="TypeScript"
        />
        Microsoft TypeScript</a
      >
      für die Bereitstellung des Typsystems, das in dieser Anwendung verwendet
      wird
    </li>
  </ul>
</div>
} @else if (language == "pt") {
  <div class="navigation">
    <p>aperte ESC para retornar</p>
  </div>
  <div class="content">
    <h1>Agradecimentos especiais</h1>
    <ul class="thanks-list">
      <li>
        <a target="_blank" href="https://pokeapi.co/">
          <img
            class="logo logo-pokeapi-big"
            src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi.svg"
            alt="PokeAPI"
          />
          PokeAPI</a
        >
        por fornecer dados para todos os Pokemón, incluindo seus status, golpes, 
        tipos e mais
      </li>
      <li>
        <a target="_blank" href="https://github.com/PokeAPI/sprites">
          <img
            class="logo logo-pokeapi-small"
            src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
            alt="PokeAPI-sprites"
          />
          PokeAPI-sprites</a
        >
        por fornecer os sprites oficiais dos Pokémon
      </li>
      <li>
        <a target="_blank" href="https://github.com/PokeAPI/cries">
          <img
            class="logo logo-pokeapi-small"
            src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
            alt="PokeAPI-cries"
          />
          PokeAPI-cries</a
        >
        por fornecer os sons oficiais dos Pokémon
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/18ago/">
          <img
            class="logo profile"
            src="./assets/franziska_wessely_pb.jpeg"
            alt="Franziska Wessely"
          />
          Franziska Wessely</a
        >
        por fornecer o design
      </li>
      <li>
        <a target="_blank" href="https://pixabay.com/">
          <img
            class="logo logo-pixabay"
            src="./assets/pixabay_logo.svg"
            alt="Pixabay"
          />
          Pixabay</a
        >
        por fornecer os efeitos sonoros usados na aplicação
      </li>
    </ul>
    <h2>Executado por</h2>
    <p>
      <a target="_blank" href="https://github.com/mariokreitz">
        <img
          class="logo profile"
          src="https://avatars.githubusercontent.com/u/48879876?s=96&v=4"
          alt="Mario Kreitz"
        />
        Mario Kreitz</a
      >
      pela implementação técnica
    </p>
    <h2>Estruturado por</h2>
    <ul class="thanks-list">
      <li>
        <a target="_blank" href="https://angular.io/">
          <img
            class="logo logo-angular"
            src="https://avatars.githubusercontent.com/u/139426?s=200&v=4"
            alt="Angular 17"
          />
          Angular 17</a
        >
        por fornecer a framework usada para construir esta aplicação
      </li>
      <li>
        <a target="_blank" href="https://github.com/PokeAPI/pokeapi-js-wrapper">
          <img
            class="logo logo-pokeapi-small"
            src="https://avatars.githubusercontent.com/u/19692032?s=48&v=4"
            alt="pokeapi-js-wrapper"
          />
          pokeapi-js-wrapper</a
        >
        por fornecer uma forma conveniente de interagir com a PokeAPI
      </li>
      <li>
        <a target="_blank" href="https://www.chartjs.org/">
          <img
            class="logo logo-chartjs"
            src="https://www.chartjs.org/img/chartjs-logo.svg"
            alt="ChartJS"
          />
          ChartJS</a
        >
        por fornecer a biblioteca gráfica usada na ficha dos Pokémon
      </li>
      <li>
        <a target="_blank" href="https://github.com/microsoft/TypeScript">
          <img
            class="logo logo-typescript"
            src="https://avatars.githubusercontent.com/u/6154722?s=48&v=4"
            alt="TypeScript"
          />
          Microsoft TypeScript</a
        >
        por fornecer o sistema tipado usado nesta aplicação
      </li>
    </ul>
  </div>
}
