@import "../../../../styles/_vars";
@import "../../../../styles/_types";

.overview-card {
  background-image: url("./../../../../assets/background_card_big.png");
  background-size: cover;
  padding: 20px;
  color: white;
  width: 720px;
  height: 700px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    align-items: center;

    .close {
      display: flex;
      align-items: center;
      flex: 1;
      width: 100%;

      button {
        height: 30px;
        width: 30px;
        border-radius: 9999px;
        background-color: rgba(128, 128, 128, 0.33);

        &:hover {
          background-color: rgba(128, 128, 128, 0.66);
        }

        &:active {
          background-color: rgba(128, 128, 128, 0.99);
        }
      }
    }

    .heading {
      display: flex;
      flex: 1;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 4px;
      padding: 4px 8px;

      svg {
        cursor: pointer;
        fill: $text-color;
        height: 30px;
        width: 30px;
      }

      .name {
        display: flex;
        gap: 10px;
      }
    }
  }

  .main {
    display: flex;

    .left {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .hitpoints {
        width: 100%;
        display: flex;
        gap: 4px;

        & > p {
          padding: 6px 12px;
          background-color: rgba(255, 255, 255, 0.25);
          border-radius: 9999px;
        }
      }

      img {
        width: 225px;
        height: 225px;
        filter: drop-shadow(-2px 12px 8px rgba(0, 0, 0, 0.45));
      }

      div > span {
        cursor: default;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      gap: 20px;

      .stats {
        display: flex;
        gap: 20px;

        .height,
        .weight {
          display: flex;
          align-items: center;
          gap: 10px;

          svg {
            fill: $text-color;
            height: 16px;
            width: 16px;
          }
        }
      }

      #editions {
        .wrapper {
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .content {
            height: 80%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            p {
              font-size: 14px;
            }
          }
        }
      }

      .tabcontent {
        width: 250px;
        height: 250px;
        display: none;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;

        .item {
          .item-label {
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: help;
            width: fit-content;
          }
        }
      }

      .tab {
        display: flex;
        width: 100%;
        justify-content: space-around;

        img {
          position: relative;
          width: 40px;
          height: 40px;
          cursor: pointer;
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    gap: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 4px solid rgba(0, 0, 0, 0.05);

    & > div {
      padding: 12px;
    }

    .passiv-ability {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .info {
      flex: 1;
    }
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .overview-card {
    width: 100%;
    .main {
      .left {
        .hitpoints {
          & > p {
            padding: 2px 8px;
          }
        }
      }

      .right {
        .tabcontent {
          .wrapper {
            gap: 5px;
          }
        }

        .tab {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .overview-card {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    border: unset;

    .header {
      .close {
        button {
          font-size: 12px;
          height: 24px;
          width: 24px;
        }
      }

      .heading {
        svg {
          height: 20px;
          width: 20px;
        }

        .name {
          h2 {
            font-size: 16px;
          }
        }
      }
    }

    .main {
      flex-direction: column;
      gap: 12px;

      .left {
        gap: 8px;

        img {
          width: 125px;
          height: 125px;
        }

        .types {
          .type {
            font-size: 12px;
            padding: 4px 8px;
          }
        }
      }

      .right {
        gap: 6px;

        .stats {
          gap: 10px;
        }

        .tabcontent#stats-Chart {
          width: 175px !important;
          height: 175px !important;
        }

        .tabcontent {
          width: 255px !important;
          height: 175px !important;
          overflow-y: auto;

          h4 {
            font-size: 14px;
          }

          .wrapper {
            gap: 5px;

            .content {
              flex-wrap: nowrap !important;
            }
          }
        }

        .tab {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .footer {
      gap: unset;
      height: 150px;

      .info {
        p {
          height: 80%;
          font-size: 14px;
          overflow-y: auto;
        }
      }

      .passiv-ability {
        span {
          font-size: 14px;
        }
      }
    }
  }
}
