@import "../../../../styles/_vars";
@import "../../../../styles/_types";

.overview-card {
  border: 1px solid white;
  background-color: rgba($color: #000000, $alpha: 0.66);
  padding: 20px;
  color: white;
  width: 720px;
  height: 700px;

  .header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;

    button {
      width: fit-content;
      height: fit-content;
    }

    .heading {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      svg {
        cursor: pointer;
        fill: $text-color;
        width: 20px;
        height: 20px;
      }

      .name {
        display: flex;
        gap: 10px;
      }
    }
  }

  .main {
    display: flex;
    gap: 40px;
    margin-block: 40px;

    .left {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .hitpoints {
        width: 100%;
        display: flex;
        gap: 4px;
      }

      img {
        width: 225px;
        height: 225px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      gap: 20px;

      .stats {
        display: flex;
        gap: 20px;

        .height,
        .weight {
          display: flex;
          align-items: center;
          gap: 10px;

          svg {
            fill: $text-color;
            height: 16px;
            width: 16px;
          }
        }
      }

      #items {
        gap: 10px;
      }

      #editions {
        .wrapper {
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .content {
            height: 80%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            p {
              font-size: 14px;
            }
          }
        }
      }

      .tabcontent {
        width: 250px !important;
        height: 250px !important;
        display: none;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;

        .item {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }

      .tab {
        display: flex;
        width: 100%;
        justify-content: space-around;

        img {
          position: relative;
          width: 40px;
          height: 40px;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    gap: 40px;

    .passiv-ability {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .info {
      flex: 1;
      padding-inline: 40px;
    }
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .overview-card {
    width: 100%;
    .main {
      margin-block: 20px;
      gap: 10px;

      .right {
        .tabcontent {
          .wrapper {
            gap: 5px;
          }
        }

        .tab {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .overview-card {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    border: unset;

    .header {
      button {
        font-size: 14px;
      }

      .heading {
        .name {
          h2 {
            font-size: 18px;
          }
        }
      }
    }

    .main {
      flex-direction: column;
      margin-block: 10px;
      gap: 10px;

      .left {
        gap: 4px;

        img {
          width: 125px;
          height: 125px;
        }
      }

      .right {
        gap: 6px;

        .stats {
          gap: 10px;
        }

        .tabcontent {
          width: 175px !important;
          height: 175px !important;
          overflow-y: auto;

          .wrapper {
            gap: 5px;

            .content {
              flex-wrap: nowrap !important;
            }
          }
        }

        .tab {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .footer {
      justify-content: space-around;

      .info {
        padding-inline: unset;
        flex: 1.5;

        p {
          font-size: 14px;
          height: 120px;
          overflow-y: auto;
        }
      }

      .passiv-ability {
        span {
          font-size: 14px;
        }
      }
    }
  }
}
