@import "../../../../styles/_vars";
@import "../../../../styles/_types";

.overview-card {
  border: 1px solid white;
  background-color: rgba($color: #000000, $alpha: 0.5);
  padding: 20px;
  color: white;
  max-width: 700px;

  .header {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    button {
      width: fit-content;
    }

    .heading {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      svg {
        cursor: pointer;
      }

      .name {
        display: flex;
        gap: 10px;
      }
    }
  }

  .main {
    display: flex;
    gap: 40px;
    margin-block: 40px;

    .left {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 20px;

      img {
        width: 250px;
        height: 250px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      gap: 20px;

      .stats {
        .stats-base {
          display: flex;
          gap: 20px;

          h3 {
            display: flex;
            gap: 10px;
          }
        }

        .stats-Chart {
          width: 250px;
          height: 250px;
        }
      }

      .info {
        display: flex;
        width: 100%;
        justify-content: space-around;

        img {
          position: relative;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .overview-card {
    .main {
      flex-direction: column;
      margin-block: 10px;
      gap: 10px;

      .left {
        img {
          width: 150px;
          height: 150px;
        }
      }

      .right {
        .chart {
          .stats-Chart {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
}
